body {
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    font-family: "Be Vietnam Pro", sans-serif;
}
header {
    border-bottom: 1px solid pink;
    padding: 0 0 30px 0;
}
.weather-app {
background:pink;
max-width: 600px;
margin: 45px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
padding: 30px;
}
.search-form-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 16px;
    width: 80%;
}
.search-form-button {
    background: rgb(204, 25, 204);
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    margin-left: 5px;
    font-size: 16px;
}
main {
    padding: 30px 0;
}
.weather-app-display {
    display: flex;
    justify-content: space-between;
}
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-app-detail {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.weather-app-detail strong {
    color: rgb(245, 10, 104);
}
.weather-temperature {
    display: flex;
}
.weather-icon {
    width: 88px;
    height: 88px;
}

.temperature-container {
    font-size: 80px;
    font-weight: bold;
    line-height: 88px;
}

.weather-celcuis {
    margin-top: 6px;
    font-size: 28px;
}

a {
    color: rgb(180, 23, 180);
} 
.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weather-forecast-date {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}
.weather-forecast-temperatures {
    text-align: center;
    color: rgb(245, 10, 104);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
    border-top: 1px solid pink;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;

}